h1 Update Title

form(action='/books/update' method='POST')
 label 
   | Title
   input(type='text', name='title')
 br
 label 
   | New Title
   input(type='text', name='newTitle')
 br
 button Update
 
