extends ../layouts/common.pug
block content  
  h1 Update Avatar
  img(src=user.avatar width="32")
  
  form(action="/users/profile/avatar/"+user.id, method="POST", enctype="multipart/form-data")
    .form-group
      label(for="avatar") New Avatar
      input#avatar.form-control-file(name="avatar" type="file")
    
    button.btn.btn-primary Update